<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="icon" href="/img/Boatman-favicon-16-16.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Alan.jpg">
        <p>This is my body</p>
    </div>
    {{>footer}}    
</body>
</html>